.hero.is-primary-custom {
  background-color: #062e72;
  color: white;
  border-bottom: 8px solid #062e72;
}

.subtitle.is-5 {
  text-align: center;
  color: white;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.card.has-background-blue-custom {
  background-color: #062e72;
}

.buttons.is-align-items-center {
  justify-content: center;
}
.button.is-primary {
  background-color: #1d2533;
  border-color: white;
}
.button.is-primary:hover {
  background-color: #545f60bd;
  border-color: white;
}

.button.is-rounded {
  border-radius: 10px;
}

/* .label {
  color: white;
} */
.card.is-primary-custom {
  background-color: #062e72;
}
/* .card-content.is-primary-custom {
  padding: 1.5rem;
} */
.subtitle.is-6 {
  color: white;
}
.footer {
  background: green;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  padding: 20px;
}
content has-text-centered {
  color: white;
}
