.hero.is-primary-custom {
  background-color: #062e72;
  color: white;
  border-bottom: 8px solid blue;
}
.title.is-1,
.subtitle.is-5 {
  text-align: center;
  color: white;
}

.card.has-background-blue-custom {
  background-color: blue;
}

.buttons.is-align-items-center {
  justify-content: center;
}
.button.is-primary {
  background-color: #1d2533;
  border-color: white;
}
.button.is-primary:hover {
  background-color: #545f60bd;
  border-color: white;
}

.button.is-rounded {
  border-radius: 10px; 
}

/* .label {
  color: white;
} */
.card.is-primary-custom {
  background-color: #062e72;
}
/* .card-content.is-primary-custom {
  padding: 1.5rem;
} */
.subtitle.is-6 {
  color: white;
}