header.hero {
  padding-top: 20px;
  border-bottom: 5px solid blue;
  padding-bottom: 20px;
  background-color: blue;
  color: azure;
  font-weight: bold;
}

.row-padding {
  padding: 20px;
}

.bg-steel-grey {
  background-color: blue !important;
  color: white;
}

.card-height {
  height: 500px;
}
